:root {
  --bg-dark: #000000;
  --text-light: #fefefe;
  --block-bg: #1f2125;
  --link-bg: #c7ffb7;
  --link-text: #088a74;
  --purple: #6d28d9;
  --neon-green: #17e84a;
}

body {
  background: var(--bg-dark);
  color: var(--text-light);
  font-family: "Inter", sans-serif;
}

/* MAIN CONTAINER */
.app-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.header-img-wrap {
  display: inline-block;
}

.header-img {
  height: 165px;
  object-fit: contain;
}

/* SURVEY */
.survey-wrapper {
  text-align: center;
}

.survey-title {
  font-size: 28px;
  font-weight: 900;
}

.survey-subtitle {
  font-size: 16px;
}

.reward-buttons {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  justify-content: center;
}

.reward-button {
  background: var(--link-bg);
  color: var(--link-text);
  padding: 14px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 310px;
  height: 50px;
  transition: 0.4s;
  max-width: 350px;
  text-decoration : none;
}

.reward-button:hover {
  box-shadow: inset 0 0 15px rgba(8, 138, 116, 0.6),
    0 0 30px rgba(199, 255, 183, 0.9);
}

.reward-icon {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.reward-main {
  font-size: 18px;
  font-weight: 900;
}

.reward-sub {
  font-size: 15px;
  margin-top: -15px;
  padding-bottom: 10px;
  opacity : 0.85;
}

.arrow {
  margin-left: auto;
  font-size: 24px;
  font-weight: 900;
}

/* AMAZON animation */
.amazon-dance {
  animation: danceZoom 3.5s infinite ease-in-out;
}

@keyframes danceZoom {
  0%, 70%, 100% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(1.15);
  }
}

/* CAROUSEL */
.carousel-title {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin: 30px 0 15px;
}

.chat-carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
  height: 600px;
}

.chat-carousel-container::-webkit-scrollbar {
  display: none;
}

.chat-slide {
  min-width: 100%;
  height: 100%;
  background: #000;
  border-radius: 15px;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}

.chat-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background: #666;
  margin: 0 5px;
  display: inline-block;
}

.dot.active {
  background: white;
}

/* CLAIM SECTION */
.claim-card {
  background: var(--block-bg);
  padding: 25px;
  border-radius: 20px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 50px;
}

.claim-title {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}

.claim-list {
  list-style: none;
  padding: 0;
}

.claim-list li {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
